@use './variables' as *;

@mixin selfActiveLink {
  @include transition;
  @media #{$hoverMediaRules} {
    &:hover {
      opacity: $hoverOpacity;
    }
  }
}

@mixin withBasicActiveLinks {
  button,
  a {
    @include selfActiveLink;
  }
}

@mixin withActiveLinks {
  @include withBasicActiveLinks;
  button,
  a {
    @include safeHover {
      text-decoration: underline !important;
    }
  }
}

@mixin transition($time: $transitionTimeMs) {
  transition: all $time;
}

@mixin translateCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin absent {
  opacity: 0;
  pointer-events: none;
}
@mixin exists {
  opacity: 1;
  pointer-events: auto;
}

@mixin disabled {
  opacity: 0.5;
  pointer-events: none;
}

@mixin hoverMedia {
  @media #{$hoverMediaRules} {
    @content;
  }
}

@mixin safeHover {
  @include hoverMedia {
    &:hover {
      @content;
    }
  }
}

@mixin zeroInset {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
