@use '../variables' as *;

/*! uc-Header */

// See also the bottom uc-BottomSpace
.uc-HeaderSpace {
  height: 100px;
  @media (width < $lgMediaPx) {
    height: 90px;
  }
}

.uc-Header {
  @include withActiveLinks;
  // Social icon colors...
  .t-sociallinks__item {
    path {
      fill: $goldColor;
    }
  }
  @media (width < $lgMediaPx) {
    .t-menu-base__imglogo,
    .tmenu-mobile__imglogo {
      $size: 60px;
      height: $size;
      width: auto !important;
    }
  }
  // Don't forget to adjust `uc-HeaderSpace` sizes above
  // Main sections (logo, menu, extra)
  .t-menu-base__logowrapper {
    flex: 0 !important;
    flex-shrink: 0;
    @media (width >= $lgMediaPx) {
      margin: 10px 0;
    }
  }
  .t-menu-base__leftwrapper {
    flex: 1 !important;
  }
  .t-menu-base__rightwrapper {
    flex-shrink: 0;
  }
  // Right button
  .t-btn {
    $hPadding: 1em;
    padding-left: $hPadding;
    padding-right: $hPadding;
  }
  // Submenu
  .t-menusub__menu {
  }
  .t-menu-base {
    .t-active {
      text-decoration: underline !important;
      opacity: 1;
      @media (width < $lgMediaPx) {
        --menusub-active-color: #fff;
        // color: #fff !important;
      }
    }
  }
  .t-menusub__innermenu-content {
    padding: 0.75em 1em;
    @media (width < $lgMediaPx) {
      padding-top: 1.25em;
      padding-bottom: 0.5em;
    }
  }
}
